

@keyframes fallAnimation {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes myImageAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


#my-img {
  animation: fallAnimation 1.5s ease forwards;
}

#my-img {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 0.2px;
  z-index: 0;
}


#my-img::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  border-radius: 50%;
  animation: animate 4s linear infinite;
  transform-origin: center;
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes raiseAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.animate-content {
  animation: raiseAnimation 1.5s ease forwards;
}

.name,
.role {
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes hamburgerAnimation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-hamburgerMenu {
  animation: hamburgerAnimation 1.5s ease forwards;
}
.logo {
  font-family: 'Rubik Glitch Pop', system-ui;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
}
.section,
.work-exp,
.contributions,
.skills,
.projects,
.testimonials,
.contact-heading {
  font-family: 'Tapestry', serif;
  transition: transform 0.3s ease;
  letter-spacing: 2px;
}
.section:hover {
  transform: scale(1.5);
  color: #ff00ff;
}
.work-exp,
.contributions,
.skills,
.projects,
.testimonials {
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
}
.contributions{
  margin-left: 20%;
}

.contact-heading{
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
  margin-left: 30%;
}

.work-exp::after,.contributions::after,.skills::after,.projects::after,.testimonials::after,.contact-heading::after{
  content: '';
  position: absolute;
  left: 20%;
  bottom: -5px; /* Adjust this value to control the distance between text and border */
  width: 50%;
  height: 2px; /* Adjust the thickness of the border */
  background-color: #ff00ff; /* Customize the border color */
  border-radius: 25%;
}

.skill,
.react-project,
.js-project,
.testimonial,
.contact {
  background-color: #1e1e1e; 
  border-radius: 10px; 
  box-shadow:
    5px 5px 10px #0f0f0f,
    -5px -5px 10px #333; 
  margin: 10px 0;
  padding: 30px;
}

@keyframes SkillAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-skill {
  animation: SkillAnimation 1.5s ease forwards;
}

@keyframes ReactProjectAnimation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes JSProjectAnimation {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
.js {
  animation: JSProjectAnimation 1.5s ease forwards;
}
.react {
  animation: ReactProjectAnimation 1.5s ease forwards;
}
.project-name,
.Mentor {
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.testimonial {
  position: relative;
}
.testimonial::before {
  content: ' " ';
  position: absolute;
  top: -35px;
  left: 20px;
  font-size: 70px;
  font-family: 'Merienda', cursive;
  color: #ff00ff;
}
.testimonial::after {
  content: ' " ';
  position: absolute;
  right: 20px;
  bottom: -30px;
  font-size: 70px;
  font-family: 'Merienda', cursive;
  color: #ff00ff;
  transform: rotate(180deg);
}

input:not(:placeholder-shown) {
  padding: 2px 0px 2px 10px;
}
textarea:not(:placeholder-shown) {
  padding: 2px 10px 2px 10px;
}
.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #532aad, #b47bfe, #e25fff) 1;
}


.project-image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-image {
  transition: transform 0.3s ease-in-out;
}

.project-image-container:hover .buttons,
.project-image-container:hover p {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}
.project-image-container:hover .project-image {
  filter: brightness(20%);
}

.project-image-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-height: 60%;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #de04de;
  border-radius: 5px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: glow 3s infinite alternate;
  top: 30px;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width:375px){
  .contributions{
    margin-left: 25%;
  }
}
@media screen and (min-width:768px){
  .contributions{
    margin-left: 30%;
  }
  .contact-heading{
    margin-left: 38%;
  }
}
@media screen and (min-width:1024px){
  .contributions{
    margin-left: 0px;
  }
  .contact-heading{
    margin-left: 42%;
  }
  #my-img {
    animation: myImageAnimation 1.5s ease forwards;
  }
}
.active{
  color: #FF00FF;
  text-decoration: underline;
  text-underline-offset: 8px;
}